<body>
<div class="background">
    <div class="container">
     <div class="right-section">
       <div class="content-container">
         <h1>Welcome to our website</h1>
         <p>Thank you for visiting our website. We are dedicated to providing you with the best books possible.</p>
         <p>Search and read our books</p>
         <div class="buttons">
          <a routerLink="/login"><button class="transparent-button">Login</button></a>
          <a routerLink="/signup"><button class="transparent-button">Sign Up</button></a>
          
         </div>
       </div>
     </div>
   </div>
 </div>
 </body>